body{
	height: 95vh;
	width: 95vw;
	font-family: sans-serif;
	font-size: 16px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding-left: 5px;
	background: rgb(169, 204, 227);
}

header{
	height: 5vh;
}

section{
	height: 20vh;
	width: 30vw;
	background: rgb(22, 160, 133);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	border-style: solid;
	border: 1px solid rgb(0, 0, 0);e
}

section input{
	border: none;
	-webkit-appearance:  none;
	-ms-appearance: none;
	-moz-appearance:  none;
	appearance:  none;
	background: #f2f2f2;
	padding: 2px;
	border-radius: 2px;
	outline: none;
}

section input:focus::placeholder{
	color: transparent;
}

section input::placeholder{
	color: #222;
	transition: color 0.3s ease;
}

section button{
	margin-top: 5px;
	border: none;
	background: rgb(252, 243, 207);
}

section button:hover{
	background-color: rgb(127, 179, 213);
	transition: background-color .8s linear;
}

div{
	height: 20vh;
}

*, *::before, *::after{
	box-sizing: border-box;
}